.row
  .col-md-12
    .danger= flash[:warning]
    - @user.errors.each do |name, error|
      .warning #{name}: #{error}
.row
  .col-md-6.col-md-offset-3.text-center
    %h1 Create a New User
.row
  .col-md-6.col-md-offset-3.text-center
    = form_for @user, html: { class: 'form-horizontal' } do |f|
      .form-group
        = f.label :email, class: 'control-label col-md-3'
        .col-md-6= f.text_field :email, class: 'form-control'
      .form-group
        = f.label :password, class: 'control-label col-md-3'
        .col-md-6= f.password_field :password, class: 'form-control'
      .form-group
        = f.label :password_confirmation, class: 'control-label col-md-3'
        .col-md-6= f.password_field :password_confirmation, class: 'form-control'
      .form-group
        = f.submit
