- @app = 'active'

.row
  .col-md-12
    .app-list

      %ul.list-inline
        %li
          .btn-app{ data: { app: 'tabs'} } My Tabs
        %li
          .btn-app{ data: { app: 'visualization' } } Visualization
        %li
          .btn-app{ data: { app: 'scheduler' } } Practice Helper
%br
.row
  .col-md-12
    .view-header
    .view

= render 'backbone/layout/header'
= render 'backbone/tab/templates'
= render 'backbone/visualization/templates'
= render 'backbone/scheduler/templates'
= render 'backbone/metronome/templates'

= javascript_include_tag 'backbone/app'
