- @app = 'active'

.row
  .app-container.col-md-10.col-md-offset-1

= render 'templates/app'
= render 'templates/config'
= render 'templates/header'
= render 'templates/metronome'
= render 'templates/scheduler'
= render 'templates/tab'
= render 'templates/visualization'

= javascript_include_tag 'backbone/app'
