- @app = 'active'

.row
  .col-md-12
    .app-list

      %ul.list-inline
        %li
          .btn.btn-sm.btn-info{ data: { app: 'tabs'} } My Tabs
        %li
          .btn.btn-sm.btn-info{ data: { app: 'visualization' } } Visualization
        %li
          .btn.btn-sm.btn-info{ data: { app: 'scheduler' } } Scheduler
%br
.row
  .col-md-12
    .view-header
    .view

= render 'backbone/layout/header'
= render 'backbone/tab/templates'
= render 'backbone/visualization/templates'
= render 'backbone/scheduler/templates'

= javascript_include_tag 'backbone/app'
