%nav.header.navbar.navbar-default{ role: 'navigation' }
  .container
    %a.header-logo.navbar-brand.clearfix
      = image_tag 'musicapp.ico'
    %ul.nav.navbar-nav
      %li
        = link_to 'Home', root_path, class: "#{@home}"
      %li
        = link_to 'About', '/about', class: "#{@about}"
      %li
        = link_to 'Practice!', '/app', class: "#{@app}"
    %ul.nav.navbar-nav.pull-right
      - if current_user
        %li
          = link_to 'Sign Out', signout_path
      - else
        %li
          = link_to 'Sign In', signin_path
        %li
          = link_to 'Sign Up', signup_path
