!!!
%html
  %head
    %title Musicapp
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default{ role: 'navigation' }
      .container-fluid
        .collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              = link_to 'Home', root_path
            %li
              = link_to 'About', '/pages/about'
    .container
      = yield
